<link rel="stylesheet" href="/style/shopCard.css" />
<div class="container">
  <div class="ordered_title_directions">
    <a class="ordered_title_directions_main" href="/">Главная</a>
    <img
      class="ordered_title_directions_svg"
      src="/svg/r-arrow.svg"
      alt="svg"
    />
    <a class="ordered_title_directions_next" href="/shopping">Корзина</a>
  </div>
  <h1 class="title_page">Корзина<span>{{sum}}</span></h1>
  <div class="choose_remove row">
    <button class="choose"><span>+</span>Выделить всё</button>
    <button class="remove">Удалить выбранные</button>
  </div>

  <div class="order_cards">
    <div class="order_cards_left">
      {{#each cart.items}}
        <div class="order_cards_card row justify-content-between">
          <div class="cards_card_left_left row">
            <div class="cards_card_img">
              <img src="{{product.img}}" alt="png" />
              <span><svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.5692 4.43096C13.6994 4.56113 13.6994 4.77219 13.5692 4.90236L6.23587 12.2357C6.10569 12.3659 5.89464 12.3659 5.76446 12.2357L2.43113 8.90236C2.30095 8.77219 2.30095 8.56113 2.43113 8.43096C2.5613 8.30078 2.77236 8.30078 2.90253 8.43096L6.00016 11.5286L13.0978 4.43096C13.228 4.30078 13.439 4.30078 13.5692 4.43096Z"
                    fill="white"
                  ></path>
                </svg>
              </span>
            </div>
            <div class="cards_card_info">
              <h3 class="cards_card_info_h3">{{product.name}}</h3>
              <p class="cards_card_info_p"><span>{{product.price}} ₽</span>
                за шт.</p>
            </div>
          </div>
          <div class="cards_card_right_right row">
            <div class="cards_card_count">
              <div
                class="cards_card_count_p row align-items-center justify-content-between"
              >
                <span>
                  <button
                    type="submit"
                    data-count="{{count}}"
                    data-productid="{{product._id}}"
                    class="cards_card_count_span minus"
                  >
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.5 12C4.5 11.7239 4.72386 11.5 5 11.5H19C19.2761 11.5 19.5 11.7239 19.5 12C19.5 12.2761 19.2761 12.5 19 12.5H5C4.72386 12.5 4.5 12.2761 4.5 12Z"
                        fill="white"
                      ></path>
                    </svg>
                  </button>
                  <span class="product_count">
                    {{count}}
                  </span>
                  <button
                    type="submit"
                    data-count="{{count}}"
                    data-productid="{{product._id}}"
                    class="cards_card_count_span plus"
                  >
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12 4.5C12.2761 4.5 12.5 4.72386 12.5 5V19C12.5 19.2761 12.2761 19.5 12 19.5C11.7239 19.5 11.5 19.2761 11.5 19V5C11.5 4.72386 11.7239 4.5 12 4.5Z"
                        fill="white"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.5 12C4.5 11.7239 4.72386 11.5 5 11.5H19C19.2761 11.5 19.5 11.7239 19.5 12C19.5 12.2761 19.2761 12.5 19 12.5H5C4.72386 12.5 4.5 12.2761 4.5 12Z"
                        fill="white"
                      ></path>
                    </svg>
                  </button>
                </span>
              </div>
            </div>
            <div class="cards_card_price">
              <p class="cards_card_price_p"><span
                  class="totalprice_product"
                >0</span>
                ₽</p>
            </div>
          </div>
        </div>
      {{/each}}
      <div class="order_cards_card row justify-content-between"></div>
    </div>
    <div class="order_cards_right">
      <div class="order_cards_right_toogle_switch">
        <div class="togle">
          <div id="sum" class="togle_one"></div>
          <div id="sums" class="togle_two"></div>
        </div>
        <p>Списать 200 ₽ </p>
      </div>
      <p class="order_cards_right_price">На карте накоплено 200 ₽ </p>
      <div class="order_cards_right_line"></div>
      <div class="order_cards_right_pricing">
        <div class="order_cards_right_pricing_item">
          <p>{{sum}} товара</p>
          <h4>{{cart.price}} ₽</h4>
        </div>
        <div class="order_cards_right_pricing_item">
          <p>Скидка</p>
          <h4 class="minus">-8,01 ₽</h4>
        </div>
      </div>
      <div class="order_cards_right_line"></div>
      <div class="order_cards_right_result">
        <p>Итог</p>
        <h3 class="total_price">{{cart.price}} ₽</h3>
      </div>
      <div class="order_cards_right_bonuce">
        <div class="order_cards_right_bonuce_shape"></div>
        <p>Вы получяете <span>100</span> бонусов</p>
      </div>
      <div class="order_cards_right_minprice">
        <p>Минимальная сумма заказа <span>1000p</span></p>
      </div>
      <form action="/order/add" method="post">
      
      <button class="order_cards_right_order_btn">
        Оформить заказ
      </button>
      </form>
    </div>
  </div>
</div>

<script src="/script/Favorites.js"></script>
<script src="/script/ShopCard.js"></script>